
<div *ngIf="salle">
    <h2><span>Salle</span> {{salle.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{salle.nom}}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
            <span>{{salle.adresse}}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
            <span>{{salle.telephone}}</span>
        </dd>
        <dt><span>Ville</span></dt>
        <dd>
            <div *ngIf="salle.villeId">
                <a [routerLink]="['/ville-my-suffix', salle.villeId]">{{salle.villeId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'salle-my-suffix/'+ salle.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
